@import url("sans-serıf");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ana classlar */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: white;
  background: green;
}

.btn-primary:hover {
  background: lightgreen;
 
}

/* navbasr */



.navbar {
  box-shadow: 0px 5px 10px 0px #8d8b8b;
  position: fixed;
  width: 100%;
  background: #fff;
  color: black;
  opacity: 1;
  height: 50px;
  z-index: 1;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: darkgrey;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {

  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  right: 0;
 
}
/*navbar bitis*/




/* showcase baslangıc */
#about {
  padding: 50px 0;
  background: white;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.2rem;
}

#about p {
  font-size: 1.2rem;
  color: grey;
}

#about .small {
  font-size: 1.2rem;
  color: grey;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;

}


.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;

}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

.showcase-area {
  height: 50vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.178),
      rgba(255, 255, 255, 0.336)
    ),
    url("https://cdn.yemek.com/uploads/2015/08/yemek-yapan-insan-yaraticidir.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-area p{
  padding-top: 10px;
  color: black;
}


.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;

}
.showcase-container img{
  height: 200px;
  width: 500px;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

.navbar-container i{
  display: none;
}

/*showcase bıtıs*/ 



/* RESPONSIVE BASLANGIC */

@media (max-width: 750px) {
  .navbar {
    opacity:1;
  
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 65px;
    z-index: 1;

  }


  .navbar .menu-items {

    display: none;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
    right: 0;
    align-items: center;
  }
  .navbar-container i{
    display: flex;
    align-items: center;
    margin-top:15px;
    position: absolute;
    
  }
  .food-container{
    flex-direction: column;
    align-items: center;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  
}

/* responsive bitis */



/* food menu baslangıc*/

.food-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: darkgrey;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.food-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.food-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.food-description {
  margin: auto 1.5rem;
}

.font-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: grey;
}

.food-description p {
  font-size: 1.4rem;
  color: grey;
  font-weight: 500;
}

.food-description .food-price {
  color: darkgreen;
  font-weight: 700;
}
.section-food h2{
  justify-content:center;
  align-items: center;
}
#food h2 {
  text-align:center;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 50px;
  text-transform: uppercase;
  color:black;
}

.food-container {
display:flex;
justify-content: center;
grid-gap:150px;
}
.food-menu-heading{
  color: black;
margin-top: 50px;
}


/* food menu bitis */



/*referanslar bölümü baslnagıc*/



#testimonials {
  padding: 5rem 0;
  background: white;
}

.testimonial-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: grey;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem;
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: grey;
}

.testimonial-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}
.testimonial-title{
  color: black;
}



/*referanslar bölümü bıtıs*/


/* contact us başlangıc */

#contact {
  padding: 5rem 0;
  background: white;
}

.contact-container {
  display: flex;
  background: #fff;
}

.contact-img {
  width:35%
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: grey;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  color: grey;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.5rem;
  font-weight:400;
  color:black;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.form-container a {
  font-size: 1.5rem;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid whitesmoke;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}

/*contact us bitiş*/


/*footer*/
#footer h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 2.5rem;
  font-weight: 450;
  color: white;
  background: grey;
}
/*footer*/